
@font-face {
    font-family: 'death_starregular';
    src: url('../Fonts/death_star-webfont.woff2') format('woff2'),
         url('../Fonts/death_star-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoneWalls';
    src: url('../Fonts/stonewalls-webfont.woff2') format('woff2'),
         url('../Fonts/stonewalls-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content {
  opacity: 0.0;
  transition: all 500ms ease-in-out;
  color: white;
  align-self: center;
}
.hover {

}
.hover:hover + .content {
  opacity: 1.0;
}

body {
  cursor: url(../images/cursor.png), auto;
}

a {
  margin: auto;
  font-family: 'StoneWalls';
  font-size: 150%;
  font-weight: normal;
  color:white;
}

.menu {
  line-height: 4vh;
  background-color: black;
}

div {
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
}

img.Arrow {
  display: flex;
	width:100px;
	height:100px;
	position:relative;
	animation:mymove 5s infinite;
	animation-delay:-2s;
}

@keyframes mymove
{
	from {left:0px;}
	to {left:200px;}
}

.logo-title {
  background: url(../images/TitleLogo.jpg);
  height: 86vh;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.subtitle {
  display: flex;
  justify-content: center;
}
  width: 100%;
  font-size: 35px;
  font-family: "StoneWalls", sans-serif;
  color: white;
  background-color: black;
  line-height: 6vh;
}

#planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/Background.jpg");
  background-color: black;
  background-position: center;
  background-size: contain;
  margin-bottom: 0;
}
