
@font-face {
    font-family: 'SpaceMono';
    src: url('../Fonts/spacemono-regular-webfont.woff2') format('woff2'),
         url('../Fonts/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoneWalls';
    src: url('../Fonts/stonewalls-webfont.woff2') format('woff2'),
         url('../Fonts/stonewalls-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content {
  opacity: 0.0;
  transition: all 500ms ease-in-out;
  color: white;
  align-self: center;
}

nav {
  background-color: #000;
}

.nav-link {
  text-transform: uppercase;
}

a:hover {
    color: #999;
    opacity: 1.0;
    text-decoration: none;
}

body {
  cursor: url(../images/cursor1.png), auto;
  background-color: #000;
  background-image: url(../images/Starry.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ddd;
}

a {
  margin: auto;
  font-family: 'StoneWalls';
  font-size: 150%;
  font-weight: normal;
  color: white;
}

ul {
  list-style: none;
}


.menu {
  line-height: 4vh;
  background-color: black;
}

div {
    background-color: rgba(0,0,0,0);
    background-size:cover;
}


.logo-title {
  background: url(../images/TitleLogo.jpg);
  height: 86vh;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
}


.arrow {
  display: flex;
  align-items: center;
}

.arrow img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
	width: 100px;
	height: 100px;
	position: relative;
	animation:mymove 3s infinite;
	animation-delay: -2s;
}

@keyframes mymove {
	from {top:-130px;}
	to {top:0px;}
}

.subtitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  font-family: "StoneWalls", sans-serif;
  background-color: black;
  line-height: 6vh;
}

#planets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: contain;
  margin-bottom: 0;
  padding-left: 0;
  font-family: "SpaceMono", sans-serif;
}

.planetContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.popup {
  display: none;
  width: 40%;
  /* border: 2px solid white;
  border-radius: 0.3em; */

}

.cartoongirls img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-size: contain;
  margin-bottom: 0;
  padding-left: 0;
  font-family: "SpaceMono", sans-serif;
}

.social {
  display: flex;
  align-items:center;
  height: 100px;
}

.social img {
  height: 60px;
}


<!-- styles for contact -->

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.c_body {
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 580px;
}

form {
    margin:0 auto;
    margin-top: 15%;
    width: 460px;
}


input, textarea {
  width: 440px;
  height: 30px;
  background: #efefef;
  border: none;
  padding: 4px;
  margin-top: 1px;
  margin-bottom: 4px;
  font-size: 0.9em;
  color: BLACK BOLD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
}

textarea {
	height:213px;
	background: right no-repeat #efefef;

}

//*
#submit {
  opacity: 0.7;
} *//
#submit {
  width: 50px;
  height: 40px;
  text-indent: -9999px;
  border: none;
  margin-top: auto;
  cursor: pointer;
}

#submit:hover {
	opacity: 0.2;
	}
